@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-bg: #000;
    --color-greyFont: #c4c4c4;
    --color-whiteFont: #ffffff;
    --color-slateBlack: #1c1b1f;
    --color-lightslateBlack: #2a2b37;


    --font-roboto: "Roboto", sans-serif; 
    --font-allerta: "Allerta Stencil", sans-serif; 
  }
